version: 2.1
jobs:
  build-and-push:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - docker/build:
          image: hboiton23/hboiton_nginx
          tag: "latest,$CIRCLE_SHA1"
      - docker/push:
          digest-path: /tmp/digest.txt
          image: hboiton23/hboiton_nginx
          tag: "latest,$CIRCLE_SHA1"
      - run:
          name: Generate Some file
          command: |
            mkdir folder_hello
            echo "echo 'hello world!!! by hboiton'">folder_hello/hello.sh
            chmod +x folder_hello/hello.sh
      - persist_to_workpace:
          root : .
          path:
            -folder_hello
  deploy:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install ecs-deploy
      - run:
          name: Deploy
          command: |
            ecs deploy $ECS_CLUSTER_NAME $ECS_SERVICE --image website-service hboiton23/hboiton_nginx:$CIRCLE_SHA1 --timeout 1200 --ignore-warnings --region $AWS_REGION
      - attach_workpase:
      - run:
         name: check files
         command: |
          ./folder_hello/hello.sh      
orbs:
  docker: circleci/docker@1.4.0
workflows:
  version: 2
  test:
    jobs:
      - build-and-push
      - deploy:
          requires:
            - build-and-push
